$primary-dark-color: #1565c0;
$primary-light-color: #2699fb;
$action-dark-color: #008a00;
$action-light-color: #02a257;
$info-light-color: #ffc048;
$info-dark-color: #ffc048;
$danger-light-color: #c23934;
$danger-dark-color: #e01e5a;

$font-w-light: 300;
$font-w-regular: 400;
$font-w-medium: 500;
$font-w-semi-bold: 600;

$breakpoints: (
  "small": (
    min-width: 576px,
  ),
  "medium": (
    min-width: 768px,
  ),
  "large": (
    min-width: 992px,
  ),
  "extra": (
    min-width: 1200px,
  ),
);

$border-radius: 2px;
$border-radius-1: 2px;
$border-radius-2: 4px;
$border-radius-3: 6px;
$border-radius-4: 8px;
